@import url('../../Bibliotecas/css/sentico-v2.css');

html,
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Sentico Sans', 'Arial', sans-serif;
    line-height: 1;
    letter-spacing: -0.3pt;
}

.page {
    width: 8.27in;
    height: 11.69in;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.page-logo-container {
    display: flex;
    width: 7.1114in;
    margin: 0.6503in auto 0 0.55in;
}

.image-mag-new-logo img {
    width: 1.1166in;
    height: 0.5530in;
}

.image-mongeral-aegon-logo {
    margin-left: 0.5857in;
    margin-top: 0.4067in;
}

.image-mongeral-aegon-logo img {
    width: 1.4030in;
    height: 0.1830in;
}

.textos-introducao {
    margin-top: 0.4in;
    width: 7.1114in;
}

.texto-introducao {
    margin-top: 0.05in;
}

.bold-text {
    font-weight: bold;
}

.textos-conteudo {
    width: 7.1114in;
}

.texto-conteudo {
    margin-top: 0.2in;
}

.tabela-padrao {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: 7.1114in;
    margin-top: 0.1in;
    border-bottom: 1px solid black;
    flex-direction: column;
    box-sizing: border-box;
}

.tabela-padrao .tabela-header-padrao {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: 7.1114in;
    margin-top: 0.1in;
}

.tabela-padrao .campo-header-apolice {
    width: 1.5000in;
    height: 0.2300in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-padrao .campo-header-descricao {
    width: 4.4229in;
    height: 0.2300in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-padrao .campo-header-valor {
    width: 1.1885in;
    height: 0.2300in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-padrao .tabela-row-padrao {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: 7.1114in;
    font-weight: 300;
    line-height: 1.2;
}

.tabela-padrao .campo-row-apolice {
    width: 1.5000in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-padrao .campo-row-descricao {
    width: 4.4229in;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding-left: 0.05in;
}

.tabela-padrao .campo-row-valor {
    width: 1.1885in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    padding-left: 0.05in;
}

.tabela-header-primeira-linha {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: 7.1114in;
    font-weight: 300;
    line-height: 1.2;
}

.tabela-i {
    margin-top: 0.1in;
}

.tabela-i .campo-header-dias {
    margin-left: 3.15in;
    width: 1.5in;
    height: 0.2325in;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.tabela-i .tabela-header-segunda-linha {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: 7.1114in;
    font-weight: 300;
    line-height: 1.2;
}

.tabela-i .campo-header-apolice {
    width: 1.35in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-i .campo-header-inicio {
    width: 0.9in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-i .campo-header-fim {
    width: 0.9in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-i .campo-header-solic {
    width: 0.5in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-i .campo-header-franq {
    width: 0.5in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-i .campo-header-pagos {
    width: 0.5in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-i .campo-header-descricao {
    width: 1.35in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-i .campo-header-valor {
    width: 1.1114in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-row-i {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: 7.1114in;
    font-weight: 300;
    line-height: 1.2;
}

.tabela-i .campo-row-apolice {
    width: 1.35in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-i .campo-row-inicio {
    width: 0.9in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-i .campo-row-fim {
    width: 0.9in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-i .campo-row-solic {
    width: 0.5in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
}

.tabela-i .campo-row-franq {
    width: 0.5in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
}

.tabela-i .campo-row-pagos {
    width: 0.5in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
}

.tabela-i .campo-row-descricao {
    width: 1.35in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: left;
    text-align: left;
    padding-left: 0.05in;
}

.tabela-i .campo-row-valor {
    width: 1.1114in;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: left;
    text-align: left;
    padding-left: 0.05in;
}

.tabela-ia {
    margin-top: 0.1in;
}

.tabela-ia .tabela-header-ia {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: 7.1114in;
    font-weight: 300;
    line-height: 1.2;
}

.tabela-ia .campo-header-apolice {
    width: 0.9in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-ia .campo-header-sequela {
    width: 1.9000in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-ia .campo-header-invalidez {
    width: 0.8500in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-ia .campo-header-reducao {
    width: 2.0000in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-ia .campo-header-pago {
    width: 0.6000in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-ia .campo-header-valor {
    width: 0.86114in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-row-ia {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: 7.1114in;
    font-weight: 300;
    line-height: 1.2;
}

.tabela-ia .campo-row-apolice {
    width: 0.9in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    word-break: break-all;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-ia .campo-row-sequela {
    width: 1.9000in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-ia .campo-row-invalidez {
    width: 0.8500in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-ia .campo-row-reducao {
    width: 2.0000in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    word-break: break-all;
}

.tabela-ia .campo-row-pago {
    width: 0.6000in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    word-break: break-all;
}

.tabela-ia .campo-row-valor {
    width: 0.86114in;    
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    word-break: break-all;
}

.observacao {
    font-size: 12pt;
}

.valores-pagamento {
    text-align: right;
    width: 7.1114in;
    margin-top: 0.2in;
}

.informacoes-banco {
    text-align: left;
    width: 7.1114in;
}

.textos-final {
    width: 7.1141in;
    margin-top: 0.3in;
}

.assinatura-data {
    display: flex;
    justify-content: space-between;
    margin-top: 0.1in;
    font-size: 12pt;
}

.assinatura-esquerda {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.assinatura-esquerda div {
    margin-bottom: 0.1in;
}

.assinatura-direita {
    display: flex;
}

.assinatura-direita div {
    margin-bottom: 0.1in;
}

.footer {
    width: 7.1141in;
    height: 1.3in;
    margin: 0 auto;
}

.rodape-institucional {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 12pt;
    color: #666;
    margin-bottom: 0.2in;
    width: 7.1141in;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 7.1114in;
    text-align: justify;
    height: 8.5in;
    margin: 0 auto;
}
