@font-face {
    font-family: 'SenticoSansDT';
    src: url('SenticoSansDT-Light.woff2') format('woff2'),
        url('SenticoSansDT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SenticoSansDT';
    src: url('SenticoSansDT-Medium.woff2') format('woff2'),
        url('SenticoSansDT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SenticoSansDT';
    src: url('SenticoSansDT-Bold.woff2') format('woff2'),
        url('SenticoSansDT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SenticoSansDT';
    src: url('SenticoSansDT-ExtraBold.woff2') format('woff2'),
        url('SenticoSansDT-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SenticoSansDT';
    src: url('SenticoSansDT-Regular.woff2') format('woff2'),
        url('SenticoSansDT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SenticoSansDT';
    src: url('SenticoSansDT-Thin.woff2') format('woff2'),
        url('SenticoSansDT-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

