@import url('../../Bibliotecas/css/sentico-v2.css');

html,
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Sentico Sans', 'Arial', sans-serif;
    line-height: 1;
    letter-spacing: -0.3pt;
}

.page {
    width: 8.27in;
    height: 11.69in;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.page-logo-container {
    display: flex;
    width: 7.48in;
    margin-top: 0.6503in;
}

.image-mag-new-logo {
    margin-left: 0.55in;
}

.image-mag-new-logo img {
    width: 1.1166in;
    height: 0.5530in;
}

.image-mongeral-aegon-logo {
    margin-left: 0.5857in;
    margin-top: 0.4067in;
}

.image-mongeral-aegon-logo img {
    width: 1.4030in;
    height: 0.1830in;
}

.textos-introducao {
    margin-top: 0.4in;
    width: 7.1141in;
}

.texto-introducao {
    margin-top: 0.05in;
}

.bold-text {
    font-weight: bold;
}

.textos-conteudo {
    width: 7.1141in;
}

.texto-conteudo {
    margin-top: 0.2in;
}

.texto-conteudo-dados-processo {
    margin-top: 0.2in;
}

.texto-conteudo-dados-processo .titulo {
    font-weight: bold;
}

.texto-conteudo-dados-processo .item {
    margin-top: 0.1in;
}

.texto-conteudo-documentos .titulo {
    font-weight: bold;
}

.texto-conteudo-documentos .items {
    margin-top: 0.1in;
}

.campo-tabela-titulo{
    font-weight:bold;
    margin-bottom:0.1in;
}

.texto-conteudo-documentos {
    margin-top: 0.2in;
}

.texto-envio-documentos, .texto-canais-atendimento, .texto-disponibilidade-suporte {
    margin-top: 0.2in;
    width: 7.1141in;
}

.textos-final-assinatura {
    width: 7.1141in;
    margin-top: 0.3in;
}

.rodape-institucional {
    width: 7.1141in;
}

.linha-separadora {
    margin-top: 0.1in;
    border: none;
    border-top: 3pt solid #e6e6f9;
}

.assinatura-data {
    display: flex;
    justify-content: space-between;
    margin-top: 0.1in;
    font-size: 12pt;
}

.assinatura-esquerda {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.assinatura-esquerda div {
    margin-bottom: 0.1in;
}

.assinatura-direita {
    display: flex;
}

.assinatura-direita div {
    margin-bottom: 0.1in;
}

.rodape-institucional {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 12pt;
    color: #666;
    margin-bottom: 0.2in;
    width: 7.1141in;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 7.1181in;
    text-align: justify;
    margin: 0 auto;
}
