@font-face {
  font-family: 'SenticoSansDT';
  src: url('SenticoSansDT-Light.woff2') format('woff2'),
       url('SenticoSansDT-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SenticoSansDT';
  src: url('SenticoSansDT-Medium.woff2') format('woff2'),
       url('SenticoSansDT-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
