@import url('../fonts/fonts.css');

:root {
    --largura-estrutura: 7.48in;
    --margem-esquerda: 0.4in;
}

html,
body {
    padding: 0px;
    margin: 0px;
    font-family: 'SenticoSansDT', sans-serif;
    line-height: 1;
    letter-spacing: -0.3pt;
}

.page {
    width: 8.27in;
    height: 11.69in;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.background-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.background-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-beneficiarios-herdeiros {
    width: var(--largura-estrutura);
    box-sizing: border-box;
    margin-left: var(--margem-esquerda);
}

.tabela-dados-pagamento-antecipado-por {
    margin-left: var(--margem-esquerda);
}

.tabela-dados-pagamento-antecipado-ate {
    margin-left: var(--margem-esquerda);
}

.tabela-dados-pagamento-prazo-decrescimo {
    margin-left: var(--margem-esquerda);
}

.beneficiario-grid-herdeiros {
    border: 1px solid black;
}

.beneficiarios-herdeiros-legais {
    margin-top: 0.1in;
    font-weight: 300;
}

.header-inicial {
    margin-left: 0.4in;
    margin-top: 1.1000in;
    text-align: center;
    width: var(--largura-estrutura);
    font-size: 12pt;
    font-weight: bold;
}

.subtitulo-certificado {
    font-weight: 300;
    font-size: 12pt;
    color: #000000;
}

.tabela-segurado {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: var(--largura-estrutura);
    margin-left: var(--margem-esquerda);
    margin-top: 0.1in;
}

.tabela-segurado > div {    
    padding: 0.05in 0.03in;    
}

.tabela-dados-pagamento-basicos {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: var(--largura-estrutura);
    margin-left: var(--margem-esquerda);
    margin-top: 0.1in;
}

.tabela-dados-pagamento-basicos .margem-campo{
    display: block;
    margin-top: 0.05in;
    margin-left: 0.05in;
    height: 0.4in;
}

.tabela-dados-pagamento-basicos .campo-forma-pagamento {
    width: 2.805in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.tabela-dados-pagamento-basicos .campo-periodicidade {
    width: 2.805in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.tabela-dados-pagamento-basicos .campo-dia-vencimento {
    width: 1.87in;
    border: 0.5040pt solid black;
    box-sizing: border-box;

}

.tabela-dados-pagamento-com-cnpj {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: var(--largura-estrutura);
    margin-left: var(--margem-esquerda);
    margin-top: 0.1in;
}

.tabela-dados-pagamento-com-cnpj .margem-campo{
    display: block;
    margin-top: 0.05in;
    margin-left: 0.05in;
    height: 0.4in;
}

.tabela-dados-pagamento-com-cnpj .campo-forma-pagamento {
    width: 2.805in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.tabela-dados-pagamento-com-cnpj .campo-periodicidade {
    width: 2.805in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.tabela-dados-pagamento-com-cnpj .campo-dia-vencimento {
    width: 1.87in;
    border: 0.5040pt solid black;
    box-sizing: border-box;

}


.tabela-dados-pagamento-com-cnpj .campo-numero-banco {
    width: 2.805in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.tabela-dados-pagamento-com-cnpj .campo-nome-banco {
    width: 4.675in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.tabela-dados-pagamento-com-cnpj .campo-numero-agencia {
    width: 2.805in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.tabela-dados-pagamento-com-cnpj .campo-numero-conta-corrente {
    width: 2.805in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.tabela-dados-pagamento-com-cnpj .campo-inicio-vigencia{
    width: 1.87in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.tabela-dados-pagamento-com-cnpj .campo-nome-titular-conta{
    width: 5.61in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.tabela-dados-pagamento-com-cnpj .campo-cpfcnpj-titular-conta {
    width: 1.87in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}


.tabela-dados-pagamento-com-cpf {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: var(--largura-estrutura);
    margin-left: var(--margem-esquerda);
    margin-top: 0.1in;
}

.tabela-dados-pagamento-com-cpf .margem-campo{
    display: block;
    margin-top: 0.05in;
    margin-left: 0.05in;
    height: 0.4in;
}

.tabela-dados-pagamento-com-cpf .campo-forma-pagamento {
    width: 2.805in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.tabela-dados-pagamento-com-cpf .campo-periodicidade {
    width: 2.805in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.tabela-dados-pagamento-com-cpf .campo-dia-vencimento {
    width: 1.87in;
    border: 0.5040pt solid black;
    box-sizing: border-box;

}


.tabela-dados-pagamento-com-cpf .campo-numero-banco {
    width: 2.805in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.tabela-dados-pagamento-com-cpf .campo-nome-banco {
    width: 4.675in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.tabela-dados-pagamento-com-cpf .campo-numero-agencia {
    width: 2.805in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.tabela-dados-pagamento-com-cpf .campo-numero-conta-corrente {
    width: 2.805in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.tabela-dados-pagamento-com-cpf .campo-inicio-vigencia{
    width: 1.87in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.tabela-dados-pagamento-com-cpf .campo-nome-titular-conta{
    width: 5.61in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.tabela-dados-pagamento-com-cpf .campo-cpfcnpj-titular-conta {
    width: 1.87in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}


.campo-cpf {
    width: 1.87in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.tabela-segurado-com-nome-civil {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: var(--largura-estrutura);
    margin-left: var(--margem-esquerda);
    margin-top: 0.1in;
}

.bloco-detalhes-plano {
    width: 3.74in;
    border: 1px solid black;
    box-sizing: border-box;
}

.bloco-renda-mensal {
    width: 3.74in;
    border: 1px solid black;
    box-sizing: border-box;
}

.blocos-prev {
    display: flex;
}

.bloco-renda-mensal {
    width: 3.74in;
}

.campo-tabela-titulo {
    width: var(--largura-estrutura);
}

.campo-proposta {
    width: 4.675in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.campo-emissao {
    width: 2.805in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.campo-cpf {
    width: 1.87in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.campo-cep {
    width: 2.805in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.campo-uf {
    width: 2.8050in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.campo-segurado {
    width: 7.4800in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.campo-nacionalidade {
    width: 3.7400in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.campo-nascimento {
    width: 3.7400in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.campo-endereco {
    width: 7.4800in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.campo-bairro {
    width: 3.7400in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.campo-cidade {
    width: 3.7400in;
    border: 0.5040pt solid black;
    box-sizing: border-box;
}

.label {
    font-weight: bold;
}

.label-valor {
    font-weight: 300;
}


.tabela-dados-planos-morte-ou-invalidez {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: var(--largura-estrutura);
    margin-left: var(--margem-esquerda);
    margin-top: 0.1in;
    border-bottom: 1px solid black;
    flex-direction: column;
    box-sizing: border-box;
}

.tabela-header-dados-planos-morte-ou-invalidez {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: var(--largura-estrutura);
    margin-top: 0.1in;
}

.campo-header-plano {
    width: 2.1983in;
    height: 0.5500in;
    background-color: #DEDBDE;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.campo-header-beneficio {
    width: 1.0196in;
    height: 0.5500in;
    background-color: #DEDBDE;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.campo-header-premio {
    width: 0.8870in;
    height: 0.5500in;
    background-color: #DEDBDE;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 0 4px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.campo-header-controle-apolice {
    width: 1.4in;
    height: 0.5500in;
    background-color: #DEDBDE;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    padding: 0 4px;
    box-sizing: border-box;
}

.campo-header-vigencia {
    width: 1.9751in;
    height: 0.5500in;
    background-color: #DEDBDE;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.tabela-row-dados-planos-morte-ou-invalidez {
    display: flex;
    flex-wrap: wrap;
    font-size: 11.4pt;
    width: var(--largura-estrutura);
    font-weight: 300;
    line-height: 1.2;
}

.tabela-row-dados-planos-morte-ou-invalidez .label {
    font-weight: bold;
}

.campo-row-plano {
    width: 2.1983in;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 4px;
    box-sizing: border-box;
    word-break: break-all;
}

.campo-row-beneficio {
    width: 1.0196in;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 4px;
    box-sizing: border-box;
    word-break: break-all;
}


.campo-row-premio {
    width: 0.8870in;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 4px;
    box-sizing: border-box;
    word-break: break-all;
}


.campo-row-controle-apolice {
    width: 1.4in;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 4px;
    box-sizing: border-box;
    word-break: break-all;
}

.campo-row-vigencia {
    width: 1.9751in;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0.04in 4px;
    box-sizing: border-box;
    word-break: break-all;
}

.campo-row-vigencia .label-valor {
    white-space: pre-line;
}


.tabela-premios {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    margin-top: 0.2in;
    margin-left: var(--margem-esquerda);
    width: var(--largura-estrutura);
    font-weight: 300;
}

.campo-premio {
    width: 2.0921in;
    border: 1px solid black;
    box-sizing: border-box;
    width: calc(var(--largura-estrutura) / 3);
}

.campo-premio .label {
    margin-left: 4px;
}

.campo-premio .label-valor {
    margin-left: 4px;
}

.campo-iof {
    width: 2.0921in;
    border: 1px solid black;
    box-sizing: border-box;
    width: calc(var(--largura-estrutura) / 3);
}

.campo-iof .label {
    margin-left: 4px;
}

.campo-iof .label-valor {
    margin-left: 4px;
}

.campo-premio-total {
    width: 2.0921in;
    border: 1px solid black;
    box-sizing: border-box;
    width: calc(var(--largura-estrutura) / 3);
}

.campo-premio-total .label {
    margin-left: 4px;
}

.campo-premio-total .label-valor {
    margin-left: 4px;
}

.texto-sorteio {
    font-size: 11pt;
    margin-left: var(--margem-esquerda);
    width: var(--largura-estrutura);
    font-weight: 300;
    text-align: left;
}

.tabela-dados-ramos {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: var(--largura-estrutura);
    margin-left: var(--margem-esquerda);
    margin-top: 0.1in;
}

.tabela-header-ramos {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: var(--largura-estrutura);
    margin-top: 0.1in;
}


.campo-header-codigo {
    width: 0.7119in;
    height: 0.5500in;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.campo-header-descricao {
    width: 4.5200in;
    height: 0.5500in;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.campo-header-gruporamo {
    width: 2.2481in;
    height: 0.5500in;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-row-ramos {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: var(--largura-estrutura);
    font-weight: 300;
}


.campo-row-codigo {
    width: 0.7119in;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 0 4px;
    box-sizing: border-box;
    word-break: break-all;
}

.campo-row-descricao {
    width: 4.5200in;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 0 4px;
    box-sizing: border-box;
    word-break: break-all;
}

.campo-row-gruporamo {
    width: 2.2481in;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 0 4px;
    box-sizing: border-box;
    word-break: break-all;
}


.textos-adicionais {
    margin-left: var(--margem-esquerda);
    width: var(--largura-estrutura);
}

.texto-segurado-herdeiro,
.texto-segurado-beneficiario {
    margin-left: var(--margem-esquerda);
    width: var(--largura-estrutura);
}

.textos-dados-plano-informacoes-adicionais {
    margin-left: var(--margem-esquerda);
}

.texto-dados-corretor-conjuge-group {
    margin-top: 0.2in;
    margin-left: var(--margem-esquerda);
    display: flex;
    text-align: left;
}

.dados-corretor {
    width: 5.5in;
    box-sizing: border-box;
}

.dados-conjuge {
    margin-left: 0.2in;
    width: calc(var(--largura-estrutura) / 2);
    box-sizing: border-box;
}

.texto-dados-estipulante-group {
    display: flex;
    margin-left: var(--margem-esquerda);
    box-sizing: border-box;
}

.dados-estipulante-um {
    width: 5.9in;
    box-sizing: border-box;
}

.estipulante-linha-cidade-bairro {
    display: flex;
    width: 5.7in;
}

.dados-estipulante-dois {
    width: 1.58in;
    box-sizing: border-box;
}

.estipulante-nome {
    width: 5.7in;
}

.estipulante-cnpj {
    width: 2in;
}

.estipulante-endereco {
    width: 5.7in;
}

.estipulante-uf {
    width: 1in;
}

.estipulante-cidade {
    width: 3.5in;
}

.estipulante-linha-uf-cep {
    display: flex;
}

.texto-dados-carencia-group {
    margin-left: var(--margem-esquerda);
}

.texto-dados-carencia-group .label {
    font-weight: bold;
}

.texto-intro-carencia {
    font-weight: 300;
    line-height: 1.4;
    margin-top: 0.1in;
    margin-bottom: 0.15in;
}

.textos-carencia {
    margin-top: 0.1in;
}

.textos-carencia .label-valor {
    font-weight: 700;
}

.row-carencia .label-valor {
    font-weight: 700;
}

.texto-dados-franquia-group {
    margin-left: var(--margem-esquerda);
}

.textos-franquia {
    margin-top: 0.1in;
}

.texto-locais-cobertos-group {
    margin-left: var(--margem-esquerda);
}

.texto-dados-susep-group {
    width: 7.48in;
    margin-left: var(--margem-esquerda);
    border: 1px solid black;
    box-sizing: border-box;
}

.texto-susep {
    text-align: center;
}

.texto-final-group {
    margin-left: var(--margem-esquerda);
    width: var(--largura-estrutura);
    font-weight: 300;
}

.tabela-dados-apolices {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: var(--largura-estrutura);
    margin-left: var(--margem-esquerda);
    margin-top: 0.1in;
    text-align: left;
}

.tabela-dados-apolices .campo-tabela-titulo {
    margin-bottom: 0.1in;
}

.tabela-header-apolices {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: var(--largura-estrutura);
    margin-top: 0.1in;
}

.tabela-row-apolices {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: var(--largura-estrutura);
    font-weight: 300;
}

.campo-row-apolice {
    width: 4.5in;
    word-break: break-all;
}

.campo-row-emissao {
    margin-left: 0.2in;
    width: 1.4in;
    word-break: break-all;
    display: flex;
    flex-direction: column;
}

.campo-row-apolice-vigencia {
    width: 1.3in;
    word-break: break-all;
}

.bloco-garantias-seguro {
    width: var(--largura-estrutura);
    margin-left: var(--margem-esquerda);
    margin-top: 0.2in;
    font-size: 12pt;
}

.bloco-garantias-seguro .campo-tabela-titulo {
    margin-bottom: 0.1in;
}

.texto-intro-garantias {
    font-weight: 300;
    margin-bottom: 0.1in;
}

.item-garantia {
    margin-top: 0.1in;
    font-weight: 300;
    line-height: 1.3;
}

.nome-garantia {
    font-weight: 700;
}

.descricao-garantia {
    font-weight: 300;
}

.bloco-riscos-excluidos {
    width: var(--largura-estrutura);
    margin-left: var(--margem-esquerda);
    margin-top: 0.2in;
    font-size: 12pt;
}

.bloco-riscos-excluidos .campo-tabela-titulo {
    margin-bottom: 0.1in;
}

.texto-intro-riscos {
    font-weight: 300;
    line-height: 1.4;
}

.texto-intro-riscos p {
    margin-top: 0.1in;
    margin-bottom: 0;
}

.texto-intro-riscos p:first-child {
    margin-top: 0;
}

.bloco-despesas-salvamento {
    width: var(--largura-estrutura);
    margin-left: var(--margem-esquerda);
    margin-top: 0.2in;
    font-size: 12pt;
}

.bloco-despesas-salvamento .campo-tabela-titulo {
    margin-bottom: 0.1in;
}

.texto-intro-despesas {
    font-weight: 300;
    line-height: 1.4;
}

.tabela-beneficiarios {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: var(--largura-estrutura);
    margin-left: var(--margem-esquerda);
    margin-top: 0.1in;
}

.tabela-header-beneficiarios {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: var(--largura-estrutura);
    margin-top: 0.1in;
}

.campo-header-beneficiario-plano {
    width: 0.7480in;
    height: 0.5500in;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.campo-header-beneficiario-nome {
    width: 2.9920in;
    height: 0.5500in;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.campo-header-beneficiario-nascimento {
    width: 1.3in;
    height: 0.5500in;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.campo-header-beneficiario-parentesco {
    width: 1.4212in;
    height: 0.5500in;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto-saf {
    margin-left: var(--margem-esquerda);
    width: var(--largura-estrutura);
}

.campo-header-beneficiario-participacao {
    width: 1.0188in;
    height: 0.5500in;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-row-beneficiarios {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: var(--largura-estrutura);
    font-weight: 300;
}

.campo-row-beneficiario-plano {
    width: 0.7480in;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 0 4px;
    box-sizing: border-box;
    word-break: break-all;
}

.campo-row-beneficiario-nome {
    width: 2.9920in;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 0 4px;
    box-sizing: border-box;
    word-break: break-all;
}


.campo-row-beneficiario-nascimento {
    width: 1.3in;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 0 4px;
    box-sizing: border-box;
    word-break: break-all;
}

.campo-row-beneficiario-parentesco {
    width: 1.4212in;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 0 4px;
    box-sizing: border-box;
    word-break: break-all;
}

.campo-row-beneficiario-participacao {
    width: 1.0188in;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 0 4px;
    box-sizing: border-box;
    word-break: break-all;
}

.tabela-dados-planos-prev {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: var(--largura-estrutura);
    margin-left: var(--margem-esquerda);
    margin-top: 0.1in;
}

.tabela-dados-fundos-prev {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: var(--largura-estrutura);
    margin-left: var(--margem-esquerda);
    margin-top: 0.1in;
}

.tabela-header-dados-planos-prev {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: var(--largura-estrutura);
    margin-top: 0.1in;
}


.tabela-header-fundos-prev {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: var(--largura-estrutura);
}

.campo-header-plano-prev {
    width: 2.0585in;
    background-color: #DEDBDE;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.campo-header-data-prev {
    width: 1.4040in;
    background-color: #DEDBDE;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.campo-header-susep-prev {
    width: 1.6037in;
    background-color: #DEDBDE;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.campo-header-certificado-prev {
    width: 1.1825in;
    background-color: #DEDBDE;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.campo-header-vigencia-prev {
    width: 1.2313in;
    background-color: #DEDBDE;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.campo-row-plano-prev {
    width: 2.0585in;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 0 4px;
    box-sizing: border-box;
    word-break: break-all;
}

.campo-row-data-prev {
    width: 1.4040in;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 0 4px;
    box-sizing: border-box;
    word-break: break-all;
}


.campo-row-susep-prev {
    width: 1.6037in;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 0 4px;
    box-sizing: border-box;
    word-break: break-all;
}

.campo-row-certificado-prev {
    width: 1.1825in;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 0 4px;
    box-sizing: border-box;
    word-break: break-all;
}


.campo-row-vigencia-prev {
    width: 1.2313in;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 0 4px;
    box-sizing: border-box;
    word-break: break-all;
}

.campo-header-nome-fundo-prev {
    width: 3.8908in;
    background-color: #DEDBDE;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campo-header-aporte-prev {
    width: 1.4040in;
    background-color: #DEDBDE;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.campo-header-portabilidade-prev {
    width: 1.0037in;
    background-color: #DEDBDE;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campo-header-contribuicao-prev {
    width: 1.1816in;
    background-color: #DEDBDE;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela-row-dados-planos-prev-fundos {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: var(--largura-estrutura);
    font-weight: 300;
}

.campo-row-nome-fundo-prev {
    width: 3.8908in;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
}

.campo-row-aporte-prev {
    width: 1.4040in;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-break: break-all;
}

.campo-row-portabilidade-prev {
    width: 1.0037in;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
}

.campo-row-contribuicao-prev {
    width: 1.1816in;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-break: break-all;
}

.texto-prev-footer {
    margin-left: var(--margem-esquerda);
    margin-top: 0.05in;
}

.tabela-dados-planos-risco-excluido {
    margin-left: var(--margem-esquerda);
}

.tabela-dados-planos-risco-excluido .campo-tabela-titulo {
    padding: 7px;
    box-sizing: border-box;
}

.tabela-dados-planos-risco-excluido {
    border: 1px solid black;
}

.tabela-row-dados-planos-risco-excluido {
    padding: 7px;
}

.footer-dados-planos-risco-excluido {
    padding: 7px;
}

.tabela-carencia-duas-colunas-conteudo {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.tabela-carencia-em-duas-colunas {
    flex-wrap: wrap;
    font-size: 12pt;
    width: var(--largura-estrutura);
    margin-left: var(--margem-esquerda);
}

.tabela-carencia-em-duas-colunas .label {
    font-weight: bold;
}

.tabela-carencia-em-duas-colunas > .label-valor {
    font-weight: 700;
    display: block;
    margin-bottom: 0.1in;
}

.tabela-carencia-header {
    display: flex;
    flex-wrap: wrap;
    font-size: 12pt;
    width: calc(var(--largura-estrutura) / 2);
    margin-top: 0.1in;
}

.campo-header-tabela-carencia-vigencia {
    width: 2.0585in;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(var(--largura-estrutura) / 4);
    padding: 0.05in;
    font-weight: 700;
}

.campo-header-tabela-carencia-percentual {
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(var(--largura-estrutura) / 4);
    padding: 0.05in;
    font-weight: 700;
}

.row-carencia {
    display: flex;
    font-size: 12pt;
    font-weight: 300;
    margin-top: 0.1in;
}

.row-carencia .label-valor {
    font-weight: 700;
}

.row-tabela-carencia {
    display: flex;
    font-size: 12pt;
    font-weight: 300;
}

.row-tabela-carencia .label-valor {
    font-weight: 700;
}


.row-carencia-vigencia {
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(var(--largura-estrutura) / 4);    
}

.row-carencia-capital-segurado {
    width: 2.0585in;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(var(--largura-estrutura) / 4);
    padding: 0.03in;
}


.texto-seguro {
    margin-left: var(--margem-esquerda);
}

.assinatura-imagem {
    text-align: center;
}

.texto-final-group img {
    width: 1.1433in;
}

.assinatura-container {
    text-align: center;
    margin-top: 0.4in;
    margin-bottom: 0.2in;
}

.texto-helder-molina {
    width: 2.2353in;
    margin: auto;
}

.texto-final-contato {
    width: 7.48n;
    margin: auto;
    font-size: 8.5pt;
}

.link {
    color: blue;
    text-decoration: underline;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 7.48in;
    text-align: justify;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}


.page-final {
    width: 8.27in;
    height: 11.69in;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    font-size: 10pt;
}

.page-final .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 8.27in;
}


.titulo-sorteio {
    text-align: center;
    font-weight: bold;
    color: #000094;
    font-size: 14pt;
    width: 5.5659in;
    margin-top: 1.0891in;
}

.tabela-sorteio {
    display: flex;
    flex-direction: column;
    font-size: 9pt;
    font-weight: 300;
}

.tabela-sorteio .col.titulo {
    text-align: center;
}

.tabela-sorteio .linha {
    display: flex;
    border-top: 1px solid #000;
}

.tabela-sorteio .linha:last-child {
    border-bottom: none;
}

.tabela-sorteio .col {
    flex: 1;
    padding: 4px;
    text-align: center;
}

.tabela-sorteio .col:last-child {
    border-right: none;
}

.tabela-sorteio .titulo {
    color: white;
    background-color: #808080;
}

.tabela-sorteio .observacao {
    line-height: 1.6;
    font-size: 8pt;
    font-style: italic;
}

.texto-sorteio h4 {
    color: #004b9b;
    margin: 0;
    font-size: 10pt;
}

.texto-sorteio p {
    text-align: justify;
    margin: 4px 0;
    line-height: 1.4;
}

.colunas-sorteio {
    display: flex;
    font-size: 12pt;
    font-weight: 300;
    gap: 20px;
    text-align: justify;
}

.texto-sorteio-destacado {
    font-weight: bold;
}

.coluna.esquerda {
    width: 2.7917in;
}

.coluna.direita {
    width: 2.7917in;
}

.titulo-resumo-condicoes-gerais h4 {
    color: #004b9b;
    font-size: 10pt;
}

.tabela-sorteio .linha:nth-of-type(2)>.col:nth-child(1),
.tabela-sorteio .linha:nth-of-type(2)>.col:nth-child(2) {
    font-weight: bold;
}